body {
  margin: auto auto auto auto;
  text-align: center;
  font-family: monospace;

}

h1 {
  font-size: 5.625rem;
  line-height: 2;
margin: 50px auto 0 auto;
font-family: 'Indie Flower', cursive;
color: #66BFBF;
}

h2 {
font-family: monospace;
  font-size: 30px;
  color: #66BFBF;
  font-weight: normal;

}

h3 {
font-family:monospace;
color: #11999E;
font-size: 20px;
margin: auto;
text-align: center;


}

p {
  font-family: 'Lora', serif;
}
p.adnanalic  {
  font-style: normal;
  color: white;}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
div {
  background-color: #E4F9F5;
}


a {
  color: #11999E;
}


.top-container{
background-color: #E4F9F5;
position: relative;
padding-top: 100px;

}

.me {
  width: 250px;
  height: 250px;
}

.skill-row {
width: 50%;
display: block;
margin: 100px auto 100px auto;
text-align: normal;
line-height: 2;
border-style: solid;
border-color: pink;
}

.skill-row2 {
width: 50%;
display: block;
padding-top: 10px;
margin: 100px auto 100px auto;
text-align: normal;
line-height: 2;
border-style: solid;
border-color: pink;
}

.skill-row3 {
width: 50%;
display: block;
padding-top: 10px;
margin: 100px auto 100px auto;
text-align: normal;
line-height: 2;
border-style: solid;
border-color: pink;
}

.books {
  width: 15%;
float: left;

}

.world {
  width: 15%;
float: left;

}

.juventus {
  width: 15%;
  float: left;

}
.pro {
  text-decoration: underline;
}


.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}


.bottom-cloud {
  position: absolute;

}
.clear1
{
  clear: left;
}

.clear2 {
  clear: left;
}

.butn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  margin-left: 45%;
  margin-right: 45%;
  padding-top: 1px;
  padding-bottom: 1px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.footer-link {
  font-size: 30px;
word-spacing: 50px;
}


.bottom-container {
  background-color: #66BFBF;
    padding-top: 30px;
    padding-bottom: 30px;

}

